{
  "pipeline": {
    "name": "player-stats-gamelog"
  },
  "input": {
    "pfs": {
      "glob": "/*",
      "repo": "statsapi"
    }
  },
  "transform": {
    "cmd": ["./player-stats-gamelog-pachd" ],
    "image": "player-stats-gamelog:VERSION"
  }
}
