{
  "pipeline": {
    "name": "star-tracker"
  },
  "input": {
    "atom": {
      "glob": "/*",
      "repo": "statsapi"
    }
  },
  "transform": {
    "cmd": ["./star-tracker-pachd" ],
    "image": "star-tracker:VERSION"
  }
}
