{
  "pipeline": {
    "name": "star-tracker"
  },
  "input": {
    "atom": {
      "glob": "/api/v1/game/*/feed/live",
      "repo": "statsapi"
    }
  },
  "transform": {
    "cmd": ["./star-tracker-pachd" ],
    "image": "star-tracker:VERSION"
  },
  "incremental": true
}
